<div class="container mt-5">
    <!-- Success Alert -->
    <div 
    *ngIf="showAlert" 
    class="alert alert-success mt-4" 
    role="alert">
    <h4 class="alert-heading">Thank you for contacting us!</h4>
    <p>Your message has been successfully submitted. We will get back to you shortly.</p>
    <hr>
    <p class="mb-0">Feel free to explore our website for more information.</p>
  </div>


  <h2>Contact Us</h2>
  <form (ngSubmit)="onSubmit()" #contactForm="ngForm">
    <div class="mb-3">
      <label for="name" class="form-label">Name</label>
      <input 
        type="text" 
        class="form-control" 
        id="name" 
        placeholder="Enter your name" 
        required 
        [(ngModel)]="formData.name" 
        name="name">
    </div>
    <div class="mb-3">
      <label for="phone" class="form-label">Phone No</label>
      <input 
        type="tel" 
        class="form-control" 
        id="phone" 
        placeholder="Enter your Contact Number" 
        required 
        [(ngModel)]="formData.phone" 
        name="phone">
    </div>
    <div class="mb-3">
      <label for="email" class="form-label">Email</label>
      <input 
        type="email" 
        class="form-control" 
        id="email" 
        placeholder="Enter your email" 
        required 
        [(ngModel)]="formData.email" 
        name="email">
    </div>
    <div class="mb-3">
      <label for="message" class="form-label">Message</label>
      <textarea 
        class="form-control" 
        id="message" 
        rows="3" 
        required 
        [(ngModel)]="formData.message" 
        name="message"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

</div>
