

<div class="container mt-5">
    <h2 class="text-center mb-4">Our Product Range</h2> <div class="card ">
        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="white-black-tab" data-bs-toggle="tab" data-bs-target="#white-black" type="button" role="tab" aria-controls="white-black" aria-selected="true">WHITE/BLACK MASTERBATCH</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="additive-tab" data-bs-toggle="tab" data-bs-target="#additive" type="button" role="tab" aria-controls="additive" aria-selected="false">ADDITIVE MASTERBATCH</button>
                </li>
            </ul>
        </div>
        <div class="card-body">
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="white-black" role="tabpanel" aria-labelledby="white-black-tab">
                    <h5 class="card-title">WHITE/BLACK MASTERBATCH</h5>
                    <div class="d-flex">
                        <div class="text-column">
                            <p class="card-text">We offer an extensive range of white and black masterbatches for a whole spectrum of applications. Such applications range from pipes, packaging films to the injection moulding of electronic parts, where a high level of gloss properties and excellent dispersion are required. In addition to the standard programme of white and black, we can satisfy customer-specific requirements for instances, applications with special carrier polymers or the integration of other additives.</p>
                        </div>
                        <div class="image-column">
                            <img src="assets/prod1.jpg" alt="White/Black Masterbatch">
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="additive" role="tabpanel" aria-labelledby="additive-tab">
                    <h5 class="card-title">ADDITIVE MASTERBATCH</h5>
                    <div class="d-flex">
                        <div class="text-column">
                            <p class="card-text">In addition to the colouration of plastics, we are specialists in the finishing of plastics with functional additives. Countless additive & polymer combinations, ranging from antiblock masterbatches to laser additives to UV stabilisers, make up our constantly growing range of products, which is continually adapted to meet the needs of the market. In the area of flame-retardant equipment for a wide variety of plastic products, our flame-retardant masterbatch is considered the benchmark.</p>
                        </div>
                        <div class="image-column">
                            <img src="assets/prod2.jpg" alt="Additive Masterbatch">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
